<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.libiao.mushroom">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MushRoomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="蘑菇"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SharesRecordActivity"/>
        <activity android:name=".MyPoolActivity"/>
        <activity android:name=".MyPool20Activity"/>
        <activity android:name=".MyPool50Activity"/>
        <activity android:name=".MyPool10Activity"/>
        <activity android:name=".analysis.SharesAnalysisTodayActivity"/>
        <activity android:name=".UpdateStockPoolActivity"/>
        <activity android:name=".analysis.SharesAnalysisHistoryActivity"/>
        <activity android:name=".analysis.SharesAnalysisActivity"/>
        <activity android:name=".analysis.SharesRealTimeInfoActivity"/>
        <activity android:name=".setting.SettingActivity"/>
        <activity android:name=".kline.KLineActivity"
            android:theme="@style/CommonTheme"/>
        <activity android:name=".mine.SelfSelectionActivity"
            android:theme="@style/CommonTheme"/>
        <activity android:name=".mine.CollectActivity"
            android:theme="@style/CommonTheme"/>
        <activity android:name=".mine.jigou.JiGouInfoRecordActivity"
            android:theme="@style/CommonTheme"/>
        <activity android:name=".report.MyReportActivity"
            android:theme="@style/CommonTheme"/>
        <activity android:name=".review.MyReviewActivity"
            android:theme="@style/CommonTheme"/>
    </application>

</manifest>